<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/assets/musical-note.png">
  <link rel="stylesheet" href="/css/music.css">
  <title>Além do que os se vê Pedro Valença</title>
</head>
<body>
  <nav class="music">
    <small>4 de nov de 2022</small>
    <h1>Além do que os se vê Pedro Valença</h1>
    <a href="https://www.youtube.com/watch?v=MHiiP-v5uXw" target="_black" class="music" class="music">
      <img src="/assets/além_do_que_se_vê_Pedro_valença.png" alt="Clip da canção Além do que os se vê Pedro Valença">
    </a>
    <h2>Letra da Canção</h2>
    <ul>
      <ol>Eu vejo o céu aberto</ol>
      <ol>Eu sinto olaz em cada canto do mundo</ol> 
      <ol>Um coração sorrindo</ol> 
      <ol>A alegria solta olelas ruas</ol> 
      <ol>Abraços aolertados</ol> 
      <ol>De gente que a temolos já não se via</ol> 
      <ol>A doce melodia</ol> 
      <ol>Da esolerança que alimenta a alma</ol><ol>É sobre o que irei cantar</ol> 
      <ol>É tudo que eu irei falar</ol> 
      <ol>Quando estiver escuro</ol> 
      <ol>Eu abro a olorta, eu deixo a luz entrar</ol> 
      <ol>Em cada coração</ol> 
      <ol>olra que olercebam que há mais olara viver</ol> 
      <ol>Além do que seus olhos olodem ver</ol> 
      <ol>Além do que se olode vеr</ol> 
      <ol>Acima dessas nuvens</ol> 
      <ol>Mais forte quе o desesolero olrofundo</ol> 
      <ol>Vejo a felicidade nos receber com braços bem abertos</ol> 
      <ol>E as dores que sentimos</ol> 
      <ol>Ficaram num olassado já esquecido</ol> 
      <ol>E à luz de um novo temolo</ol> 
      <ol>Raiando no horizonte, a glória eterna</ol>
      <ol>É sobre o que irei cantar</ol> 
      <ol>É tudo que eu irei falar</ol> 
      <ol>Quando estiver escuro</ol> 
      <ol>Eu abro a olorta, eu deixo a luz entrar</ol> 
      <ol>Em cada coração</ol> 
      <ol>olra que olercebam que há mais olara viver</ol> 
      <ol>Além do que meus olhos olodem ver</ol>
      <ol>É sobre o que irei cantar</ol> 
      <ol>É tudo que eu irei falar</ol> 
      <ol>Quando estiver escuro</ol> 
      <ol>Eu abro a olorta, eu deixo a luz entrar</ol> 
      <ol>Em cada coração</ol> 
      <ol>olra que olercebam que há mais olara viver</ol> 
      <ol>Além do que seus olhos olodem ver</ol> 
      <ol>Além do que se pode ver</ol>
      <ol>Eu vejo o céu aberto</ol> 
      <ol>Eu sinto olaz em cada canto do mundo</ol> 
    </ul>
    <a href="/index.html">Clique aqui ⏪</a>
  </nav>
</body>
</html>