<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="../assets/musical-note.png">
  <link rel="stylesheet" href="../css/music.css">
  <title>Dono do tempo Amanda Loyola</title>
</head>
<body>
  <nav class="music">
    <small>29 de jan de 2021</small>
    <h1>Dono do Tempo Amanda Loyola</h1>
    <a href="https://www.youtube.com/watch?v=u1lG9kZWcHA" target="_black" class="music">
      <img src="../assets/Dono_do_tempo_Amanda_loyola.png" alt="Clip da canção Dono do tempo Amanda Loyola">
    </a>
    <h2>Letra da Canção</h2>
    <ul>
      <ol>24 horas tem o dia</ol>
      <ol> tempo que você tem para mim?</ol>
      <ol>Prioridade, será que eu sou?</ol>
      <ol>Ou sou apenas o tempinho que sobrou?</ol>
      <ol>Que saudade que eu tenho</ol>
      <ol>De escutar a sua voz</ol>
      <ol>Que saudade que eu tenho</ol>
      <ol>Daquele nosso momento a sós</ol>
      <ol>Eu estou no mesmo lugar que você me perdeu</ol>
      <ol>Lá no quarto onde era só você e eu</ol>
      <ol>Vem me procurar</ol>
      <ol>O seu vazio é do tamanho do abraço que eu quero te dar</ol>
      <ol>Eu sou dono do tempo e te dou tempo</ol>
      <ol>Para gente conversar</ol>
    </ul>
    <a href="../index.html">Clique aqui ⏪</a>
  </nav>
</body>
</html>